extends layout

block content
  h1 Fire Prototype
  div(ng-controller="LEDController")
    p.lead Tests for fire logic
    hr
    .row
      .col-sm-6
        h2 Arduino LED Array
          div.fire-container-1
            div.indeces
              div.label-led 0
              div.label-led 1
              div.label-led 2
              div.label-led 3
              div.label-led 4
              div.label-led 5
              div.label-led 6
              div.label-led 7
              div.label-led 8
              div.label-led 9
              div.label-led 10
              div.label-led 11
              div.label-led 12
              div.label-led 13
              div.label-led 14
              div.label-led 15

              div.label-led 16
              div.label-led 17
              div.label-led 18
              div.label-led 19
              div.label-led 20
              div.label-led 21
              div.label-led 22
              div.label-led 23
              div.label-led 24
              div.label-led 25
              div.label-led 26
              div.label-led 27
              div.label-led 28
              div.label-led 29
              div.label-led 30
              div.label-led 31

            div.mylights
