.fire-container-1
{
  height: 100px;
  width: 1400px;
}

.indeces
{
  height: 30px;
}

.label-led
{
  margin-left: 2px;
  margin-right: 2px;
  border: 1px solid black;
  display: block;
  width: 30px;
  height: 30px;
  float: left;
  background-color: white;
  text-align: center;
}

.slider-cell
{
  width: 300px;
}

.widget-table td
{
  border: 1px solid black;
}

.data-label
{
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

.name-label
{
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}

.td-spacer
{
  height: 30px;
  width: 100%;
  border-top: 1px solid black;
}