footer
  .container.text-center
    p.pull-left justinerictaylor.com
    ul.pull-right.list-inline
      li
        p pianojet@gmail.com
      li
        a(href='https://github.com/pianojet/justinerictaylor.com') GitHub Project
